<div class="container" style="margin-left: 50px;"><br><br>
    <div class="cardtitle">
        <div style="padding: 5px;">SavitaSoft Courses</div>
        <div style="padding: 5px;">
          <i class="fa"(click)="OnClick()"
          [class.fa-angle-up]="flag" 
          [class.fa-angle-down]="!flag" 
          aria-hidden="true"></i>
        </div> 
      </div>
      <div class="cardtext" *ngIf="flag">
         <h6 id="p">C/C++</h6>
         <h6 id="p">Python</h6>
         <h6 id="p">Java</h6>
      </div>
      <br><br><br>
<h4>Largest of 2 numbers</h4>
<div class="container">
  Enter first value : <br> <input type="number" (blur)="onLargest()" [(ngModel)]="num1" name="num1">
  <br>
  Enter Second value : <br><input type="number" (blur)="onLargest()" [(ngModel)]="num2" name="num2">
  <br>
  Largest : <br><input type="number" [(ngModel)]="largestof2"name="total">
</div>
<br><br><br>
<h4>Largest of 3 numbers</h4>
Number1: <input class="form-control" type="text" #nm1 (blur)="data1(nm1.value)">
Number2: <input class="form-control" type="text" #nm2 (blur)="data2(nm2.value)">
Number3: <input class="form-control" type="text" #nm3 (blur)="data3(nm3.value)">

<div *ngIf="(num01>num02&&num01>num03)" class="alert alert-primary">num1 is greater</div>
<div *ngIf="(num02>num01&&num02>num03)" class="alert alert-secondary">num2 is greater</div>
<div *ngIf="(num03>num01&&num03>num02)" class="alert alert-warning">num3 is greater</div>

<br><br><br>
<h4>ng Switch case : Weekdays</h4>
<div class="container">
  <div class="form-group">
      Number :<input class="form-control" type="text" #nm (blur)="checkData(nm.value)">
  </div>
  <div [ngSwitch]="weeks">
      <div *ngSwitchCase="1" class="alert alert-primary">Monday</div>
      <div *ngSwitchCase="2" class="alert alert-primary">Tuesday</div>
      <div *ngSwitchCase="3" class="alert alert-primary">Wednesday</div>
      <div *ngSwitchCase="4" class="alert alert-primary">Thursday</div>
      <div *ngSwitchCase="5" class="alert alert-primary">Friday</div>
      <div *ngSwitchCase="6" class="alert alert-primary">Saturday</div>
      <div *ngSwitchCase="7" class="alert alert-primary">Sunday</div>
      <div *ngSwitchDefault="" >Enter number between 1-7 or it will be invalid</div>
  </div>
  <button class="btn btn-primary">Enter</button>
</div>

<br><br><br><br>
<div class="container" style="width: 300px; padding: 20px; background-color: rgb(75, 172, 199); border-radius: 6px;" >
  <br><br>
  <h2>LogIn</h2>
  <div class="form-group">
    <label for="rollno">Username</label>
    <input type="text"
           class="form-control"
           name="rollno"
           id="rollno"
           Focusblurcolor
           [caseconvertor] = "'upper'">
</div>

<div class="form-group">
    <label for="name">ID</label>
    <input type="text"
           class="form-control"
           name="name"
           id="name"
           Focusblurcolor
           [caseconvertor] = "'title'">

</div>
  <br><br>
</div>

<br><br><br><br>

<div class="container" style="width:800px; padding: 20px; background-color: aqua; border-radius: 5px; " >
  <form style="width: 300px; margin-left: 220px;">
      <legend>Student Details:</legend>
      <div class="form-group">
          <label for="name">Name</label>
              <input ngModel #name="ngModel" 
              required
              minlength="4"
              maxlength="15"
              pattern="[A-Z a-z]*"                
               type="text" class="form-control" name="name" id="name">
               <div class="alert alert-danger"
               *ngIf="name.invalid && name.touched">
               <div *ngIf="name.errors!['required']">Name Is Required</div>
               <div *ngIf="name.errors!['minlength']">Name Should be Minimum of 4 digit</div>
               <div *ngIf="name.errors!['pattern']">Name Should be In Charcter</div>
     </div>

      </div>


      <div class="form-group" style="background-color: aqua;">
          <label for="name">Rollno</label>
              <input ngModel #rollno="ngModel"
               required
               minlength="4"
               maxlength="6"
               pattern="[0-9]*"
               type="text" class="form-control" name="rollno" id="rollno">
              <div class="alert alert-danger"
                      *ngIf="rollno.invalid && rollno.touched">
                      <div *ngIf="rollno.errors!['required']">RollNo Is Required</div>
                      <div *ngIf="rollno.errors!['minlength']">RollNo Should be Minimum of 4 digit</div>
                      <div *ngIf="rollno.errors!['pattern']">RollNo Should be Digit</div>
            </div>
      </div>
      
      
      <div class="form-group">
          <label for="phone">Phone no</label>
              <input ngModel #phone="ngModel" 
              required 
              minlength="10"
              maxlength="10"
              pattern="[0-9]*"                
              type="text" class="form-control" name="phone" id="email">
              <div class="alert alert-danger"
              *ngIf="phone.invalid && phone.touched">
              <div *ngIf="phone.errors!['required']">Phone no Is Required</div>
              <div *ngIf="phone.errors!['minlength']">Phone no Should be Minimum of 10 digit</div>
              <div *ngIf="phone.errors!['pattern']">Phone no Should be Digit</div>
    </div>
   </div>       


      <div class="form-group">
          <label for="email">Email</label>
              <input ngModel #rollno="ngModel" 
              required 
              type="text" class="form-control" name="email" id="email">
      </div> 

      <div class="form-group">
          <label for="email">Select course</label>
          <select class="form-control">
              <option></option>
              <option>Java-Core</option>
              <option>C+</option>
              <option>Java-Script</option>
              <option>Python</option>
           </select>
      </div>         
  </form>
  <br><br>
          <button class="btn btn-primary" style="margin-left: 320px;">Submit</button>
</div>
</div>
  


  <br><br><br>

  <div>
    <button type="button" class="btn btn-secondary btn-sm" (click)="toggleDisabled()">Toggle disabled</button>
  </div>
  <br>
  <ng-select [multiple]="true" [(ngModel)]="selectedCars">
    <ng-option *ngFor="let car of cars" [value]="car.id" [disabled]="car.disabled">{{car.name}}</ng-option>
    <ng-option [value]="'custom'">Custom</ng-option>
  </ng-select>