.cardtitle{
    display:flex;
    background-color: gray;
    justify-content: space-between;
    color: #fff;
    border: 1 px solid black;
    font-size: 20px;
    font-weight: bold;
    width: 250px;
    
}

#p{
    border-color: blue;
    border-style: solid;
    width: 250px;
    
}