<div class="container-fluid upper ">
    
    <div>
        <ul class="navlist">
            <li><a routerLink="/home"  >Home</a></li>
            <li><a routerLink="/Aboutus">About Us</a></li>
            <li><a routerLink="/Courses">Courses</a></li>
            <li><a href="#">Registrations<i class="fas fa-caret-down"></i></a>
                <div class="dropdown-menu ">
                    <ul>
                        <li><a routerLink="/AdminviewRegistration">Student</a></li>
                        <li><a href="#">Trainer</a></li>
                        
                    </ul>
                </div>
            </li>
            <li><a routerLink="/home" >LogOut</a></li>
            
        </ul>
    </div>

    

    
    <!-- <div class="logo col-md-4">
        <img src="../../../assets/Image/IMG_20230403_115400.png" alt="">
    </div> -->
    
</div>