    <link href="img/favicon.ico" rel="icon">

   
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500;600;700&family=Open+Sans:wght@400;600&display=swap" rel="stylesheet"> 

   
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">


<div class="row container-fluid" style="width:100vw;height: 40vh;background-color: #1d6363; padding: 20px;">

    <div class="col-md-4 ">
        <h3 style="color: #fff;" >Get In Touch</h3>
        <p style="color: #fff;"><i class="fa fa-map-marker-alt "  ></i>1st Floor, Biliangadi complex <br> Vidya Nagar, HUBLI-580031 </p>
        <p style="color: #fff;"><i class="fa fa-phone-alt "></i>Ph.: 0836-4265112 <br> Mob.: 7899874112</p>
        <p style="color: #fff;"><i class="fa fa-envelope "></i>savitasoft@gmail.com</p>
        
    </div>
    <div class="col-md-4 mb-5">
        <h3 style="color: #fff;" >Our Courses</h3>
        <div class="d-flex flex-column justify-content-start" >
            <a  style="color: #fff;"  href="#"><i class="fa fa-angle-right " ></i>C/C++</a >
            <a  style="color: #fff;"  href="#"><i class="fa fa-angle-right "></i>Java</a >
            <a  style="color: #fff;"  href="#"><i class="fa fa-angle-right "></i>Python</a >
            <a  style="color: #fff;"  href="#"><i class="fa fa-angle-right "></i>FullStack</a >
            <a  style="color: #fff;"  href="#"><i class="fa fa-angle-right "></i>SEO</a >
        </div>
    </div>
    <div class="col-md-4 mb-5">
        <h3 style="color: #fff;" >Quick Links</h3>
        <div class="d-flex flex-column justify-content-start">
            <a  style="color: #fff;"  href="#"><i class="fa fa-angle-right "></i>Privacy Policy</a >
            <a  style="color: #fff;"  href="#"><i class="fa fa-angle-right "></i>Terms & Condition</a >
            <a  style="color: #fff;"  href="#"><i class="fa fa-angle-right "></i>Regular FAQs</a >
            <a  style="color: #fff;"  href="#"><i class="fa fa-angle-right "></i>Help & Support</a >
            <a  style="color: #fff;"  href="#"><i class="fa fa-angle-right "></i>Contact</a >
        </div>
        <div class="d-flex justify-content-start mt-4">
            <a style="color: #fff;"  href="#"><i class="fab fa-2x fa-twitter"></i></a >
            <a  style="color: #fff;padding-left: 5px;"  href="#"><i class="fab fa-2x fa-facebook-f"></i></a >
            <a  style="color: #fff;padding-left: 5px;"  href="#"><i class="fab fa-2x  fa-linkedin-in"></i></a >
            <a  style="color: #fff;padding-left: 5px;"  href="#"><i class="fab fa-2x fa-instagram"></i></a >
        </div>
    </div>
</div>