/* .register{
    
    padding-top: 40px;
    padding-left: 400px;
    padding-right: 400px;
    padding-bottom: 40px;
}

.main{
    margin-top: 100px;
}

h2{
    color: rgb(223, 157, 3);
    font-weight: bold;
} */