<div class="container">
    <div class="card">
        <img src="../../../../assets/img/courses-1.jpg" alt="courses-1">
        <div class="intro">
            <h2>C/C++</h2>
            <P>Duration: 45 Days</P>
        </div>
    </div>
    <div class="card">
        <img src="../../../../assets/img/courses-2.jpg" alt="courses-2">
        <div class="intro">
            <h2>Python</h2>
            <P>Duration: 2 Months</P>
        </div>
    </div>
    <div class="card">
        <img src="../../../../assets/img/courses-3.jpg" alt="courses-3">
        <div class="intro">
            <h2>Java</h2>
            <P>Duration: 2.5 Months</P>
        </div>
    </div>
    <div class="card">
        <img src="../../../../assets/img/courses-4.jpg" alt="courses-4">
        <div class="intro">
            <h2>Fullstack</h2>
            <P>Duration: 4 Months</P>
        </div>
    </div>
    <div class="card">
        <img src="../../../../assets/img/courses-5.jpg" alt="courses-5">
        <div class="intro">
            <h2>Data Structure</h2>
            <P>Duration: 2 Months</P>
        </div>
    </div>
</div>