






<div class="container">
    <div class="card border-primary" style="width: 250px; height: 400px;">
        <img class="card-img-top" style="width: 100%; height: 300px;" src="{{product.image}}" alt="">
        <div class="card-body">
          <div style="float: left; padding-right: 25px;">
              <h4 class="card-title">{{product.productName}}</h4>
              <p class="card-text">{{product.productPrice}}</p>
          </div>
          <button class="btn btn-primary" (click)="onBuyClick">Enroll</button>
        </div>
      </div>
</div>




