button{
    background-color:#563d7c;
    color:white;
}

button:hover{
    background-color:#563d7c;
    color:white;
}

.container{
    padding: 40px 240px;
}

form{
    border-color: black;
    border-width: 0.0025cm;
    border-style: solid;
    border-radius: 5px;
    padding: 10px 10px;
}

.fg{
    padding: 30px 30px;
}

input{
    padding-right: 140px;
}

label{
    font-size: large;
}