<div class="container">
    <h4>Enter your phone number for verification:</h4><br>
    <form [formGroup]="form" #f="ngForm">
        <div class="fg">
            <label for="phonenumber" class="form-label" >Phone Number</label>
              <input formControlName="phonenumber" type="text" class="form-control" id="phonenumber" name="phonenumber">
              <div *ngIf="(form.get('phonenumber').touched || form.get('phonenumber').dirty) && form.get('phonenumber').invalid">
                <div class="alert alert-danger" *ngIf="form.get('phonenumber').errors?.['required']">Phone Number is required</div>
                <div class="alert alert-danger" *ngIf="form.get('phonenumber').errors?.['pattern']">Enter only 10 digits of yourphone number.</div>
                </div>
            <br>
            <div>
                <button class="btn" type="button" routerLink="otpVerify" (click)="onClick(f.value)">Get OTP</button><br>
            </div>
        </div>
    </form>  
</div>
