.home{
    height: 75vh;
    width: 100%;
    min-height: 75vh;
    background: linear-gradient(245.59deg, #fff 52%, #18a2ac 25%, #1d6363 75%);  
    }

.aboutus{
    height: 100%;
    width: 100%;
    min-height: 200vh;
    background: #fff;  
    }

.contact{
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background: #fff;
}

