
<div class="cube-box">
    <div class="hero-cube " >
        <div class="cube">
            <div class="top"></div>
            <div>
                <span style="--i:0"></span>
                <span style="--i:1"> </span>
                <span style="--i:2"></span>  
                <span style="--i:3"></span>
            </div>   
        </div>
      
        <div class="cube1">
            <div class="top1"></div> 
            <div>
                <span style="--i:0"></span>
                <span style="--i:1"> </span>
                <span style="--i:2"></span>  
                <span style="--i:3"></span>
            </div>
        </div>
      
        <div class="cube2">
            <div class="top2"></div>
            <div>
                <span style="--i:0"></span>
                <span style="--i:1"> </span>
                <span style="--i:2"></span>  
                <span style="--i:3"></span>
            </div>
        </div>
    </div>
</div>
  