<div class="container">
    <h4>Enter your 6 digit code for verification:</h4><br>
    <form [formGroup]="form" #f="ngForm">
        <div class="fg">
            <label for="otp" class="form-label" >Enter OTP</label>
              <input formControlName="otp" type="text" class="form-control" id="otp" name="otp">
                <div class="alert alert-danger" *ngIf="form.get('otp').errors?.['minlength'] || form.get('otp').errors?.['maxlength']">Enter your 6 digit code.</div>
            <br>
            <div>
                <button class="btn" type="button"  (click)="onClick(f.value)">Verify OTP</button><br><br>
                <small>
                    <a type="button" (click)="onClick2()">Resend OTP?</a>
                </small>
            </div>
        </div>
    </form> 
</div>