
<!-- Service Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3 mb-5">Highlight’s</h6>
        </div>
        <div class="row g-4">
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item text-center pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x text-primary mb-4">
                            <img class="border rounded-circle p-2 mx-auto mb-1" src="../../../assets/img/service_1.jpeg" style="width: 80px; height: 80px;">
                        </i>
                        <h5 class="mb-3">Experienced Trainers<br><br></h5>
                        <p>You will Learn from Experts from industry with 20+ years’ experience, who are Passionate in sharing their Knowledge</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item text-center pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x text-primary mb-4">
                            <img class="border rounded-circle p-2 mx-auto mb-1" src="../../../assets/img/service_2.jpeg" style="width: 80px; height: 80px;">
                        </i>
                        <h5 class="mb-3">Industry Aligned Course Curriculum</h5>
                        <p>You will Learn relevant to the competencies demanded by industry</p><br><br>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item text-center pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x text-primary mb-4">
                            <img class="border rounded-circle p-2 mx-auto mb-1" src="../../../assets/img/service_3.jpg" style="width: 80px; height: 80px;">
                        </i>
                        <h5 class="mb-3">Unique teaching methodology</h5>
                        <p>Apply innovative teaching strategies to the classroom that help drive better student outcomes</p><br>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item text-center pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x text-primary mb-4">
                            <img class="border rounded-circle p-2 mx-auto mb-1" src="../../../assets/img/service_4.jpg" style="width: 80px; height: 80px;">
                        </i>
                        <h5 class="mb-3">Placement</h5>
                        <p><br>Get ahead in your career with our placement assistance programs</p><br><br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service End -->
