<div *ngIf="addView" class="container">
    <form #f="ngForm" (ngSubmit)="onAdd(f.value)">
        <h3>Add Trainer Details</h3><br><br>
        <div class="form-group">
            <label for="name">Trainer Name:</label>
            <input ngModel type="text" class="form-control" name="name" id="name">
        </div><br>
        <div class="form-group">
            <label for="phoneNumber">Trainer Phone Number:</label>
            <input ngModel type="text" class="form-control" name="phoneNumber" id="phoneNumber">
        </div><br>
        <div class="form-group">
            <label for="email">Trainer Email:</label>
            <input ngModel type="text" class="form-control" name="email" id="email">
        </div><br>
        <div class="form-group">
            <label for="address">Trainer Address:</label>
            <textarea ngModel class="form-control" name="address" id="address" rows="3"></textarea>
        </div><br>
        <div class="form-group">
            <label for="alternatePhoneNumber">Trainer Alternate Phone Number:</label>
            <input ngModel type="text" class="form-control" name="alternatePhoneNumber" id="alternatePhoneNumber">
        </div><br>
        <button class="btn btn-dark">Add Details</button>
    </form>
</div>

<div *ngIf="modifyView" class="container">
    <form #f="ngForm" (ngSubmit)="onModify(f.value)">
        <h3>Modify Trainer Details</h3><br><br>
        <input ngModel type="hidden" class="form-control" name="name" id="name" value="{{tdetails.id}}">
        <div class="form-group">
            <label for="name">Trainer Name:</label>
            <input ngModel type="text" class="form-control" name="name" id="name" value="{{tdetails.name}}">
        </div><br>
        <div class="form-group">
            <label for="phoneNumber">Trainer Phone Number:</label>
            <input ngModel type="text" class="form-control" name="phoneNumber" id="phoneNumber" value="{{tdetails.phoneNumber}}">
        </div><br>
        <div class="form-group">
            <label for="email">Trainer Email:</label>
            <input ngModel type="text" class="form-control" name="email" id="email" value="{{tdetails.email}}">
        </div><br>
        <div class="form-group">
            <label for="address">Trainer Address:</label>
            <textarea ngModel class="form-control" name="address" id="address" rows="3" value="{{tdetails.address}}"></textarea>
        </div><br>
        <div class="form-group">
            <label for="alternatePhoneNumber">Trainer Alternate Phone Number:</label>
            <input ngModel type="text" class="form-control" name="alternatePhoneNumber" id="alternatePhoneNumber" value="{{tdetails.alternatePhoneNumber}}">
        </div><br>
        <button class="btn btn-dark" type="submit" >Modify Details</button>
    </form>
</div>

<div class="container" style="margin:50px; padding: 20px">
    <button class="btn btn-dark" (click)="onAddView()">Add Trainer</button><br><br>

   <table class="table table-striped table-inverse table-responsive">
       <thead class="thead-inverse">
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Phone Number</th>
            <th>Email</th>
            <th>Address</th>
            <th>Alternate Phone Number</th>
            <th></th>
            <th></th>
          </tr>
       </thead>
       <tbody>
          <tr *ngFor="let t of trainer">
            <td>{{t.id}}</td>
            <td>{{t.name}}</td>
            <td>{{t.phoneNumber}}</td>
            <td>{{t.email}}</td>
            <td>{{t.address}}</td>
            <td>{{t.alternatePhoneNumber}}</td>
            <td>
                <button type="button" class="btn btn-outline-primary" (click)="onModifyLoad(t)">Modify</button>
            </td>
            <td>
                <button type="button" class="btn btn-outline-primary" (click)="onDelete(t.id)">Delete</button>
            </td>
          </tr>
       </tbody>
   </table>
</div>
