

<div class="container-fluid">
    <div class="container-fluid" style="padding-left: 3%; ">
    
        <div style=" width: 28%; height: 400px; margin-top: 8%; float: left; "><img style="width: 100%; height: 400px;" src="../../../../assets/Image/courses-4.jpg" alt="courses-4"></div>
        <div style=" width: 65%; height: 500px; margin-top: 2%; float: left;">
            <div style=" width: 40%; height: 70px; margin-left: 15px; float: left; font-size: 2.9em;font-weight: 700;text-align: center;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;text-decoration: dotted;color: rgb(248, 86, 113);">ABOUT US</div>
            <div style=" width: 85%;margin-left: 5%; height: 130px;  float: left;">
                <p style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; padding-left: 10px;font-size: 1.3rem;font-weight: 600;color: #1d6363;">SavitaSoft Teaching methodology is based on a Laddered</p>
                <p style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; padding-left: 60px;font-size: 1.3rem;font-weight: 600;color: #1d6363;">Learning Approach, which means the student progresses</p>
                <p style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; padding-left: 120px;font-size: 1.3rem;font-weight: 600;color: #1d6363;">higher up the ladder of success and career growth.</p>
            </div>
            <div style=" width: 85%;margin-left: 5%;padding-top: 25px; height: 250px;  float: left;">
                <p style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; padding-left: 10px;font-size: 1.2rem;font-weight: 400;color: #1d6363;" >Savitasoft is a computer training institute engaged in the business of providing in- depth training for all types of applications and software's used in the real world job environment. SavitaSoft caters to all individuals ranging from beginner level computer user to the IT professional. Savitasoft students are prepared to take on the challenges they will face in today's job market. SavitaSoft mission is multiple. We endeavor to make our students employable in the field of IT as office managers, technicians, and web masters. Our desire is to create value, earn trust, deliver results, exceed expectations, and empower people.</p>
            </div>
       </div>
        
    </div>
    
    <div class="container-fluid" style="padding-left: 3%;">
        
        
        <div style=" width: 65%; height: 600px; margin-top: 2%; float: left; ;">
            <div style=" width: 40%; height: 70px; margin-left: 15px; float: left; font-size: 1.9em;font-weight: 700;text-align: center;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;text-decoration: dotted;color: rgb(248, 86, 113);">WHY CHOOSE US?</div>
            <div style=" width: 85%;margin-left: 5%; height: 130px;  float: left;">
                <h4 style="font-size: 2.2rem;font-weight: 600;color: #1d6363;">CUSTOM SOLUTIONS</h4>
                <p style="font-size: 1.2rem;font-weight: 400;color: #1d6363;padding-top: 25PX;">Every student at SavitaSoft is treated with at most care and concerns. Pro-actively based on his abilities special care is taken to bring him on par with the quality that SavitaSoft maintains.</p>
            </div>
            <div style=" width: 85%;margin-left: 5%;margin-top: 160PX; height: 200px;  float: left;">
                <h4 style="font-size: 2.2rem;font-weight: 600;color: #1d6363;">WEB SOLUTIONS</h4>
                <p style="font-size: 1.2rem;font-weight: 400;color: #1d6363;padding-top: 25PX;">Moving with advance technologies, SavitaSoft maintains detailed records of each student through well build website. Assignments and exercises are web based to help students with their busy and tight schedule of semester.</p>
            </div>
            <div style=" width: 85%;margin-left: 5%;margin-top: 60PX; height: 200px;  float: left;">
                <h4 style="font-size: 2.2rem;font-weight: 600;color: #1d6363;">AFTER CARE</h4>
                <p style="font-size: 1.2rem;font-weight: 400;color: #1d6363;padding-top: 25PX;">Relationship with SavitaSoft does not end with the ending course. SavitaSoft is available to all students current or pass outs to solve/guide in their carrier related issues. With contacts worldwide SavitaSoft can deliver the best solution available. Every student has an access to he website to post their issues and get it solved.</p>
            </div>
       </div>
       <div style=" width: 25%; height: 200px; margin-top: 6%; float: left;"><img style="width: 60%; height: 200px; " src="../../../../assets/Image/gear-icon-png-2228.png" alt="courses-4"></div>
       <div style=" width: 25%; height: 200px; margin-top: 8%; float: left;"><img style="width: 65%; height: 250px; " src="../../../../assets/Image/pngwing.com.png" alt="courses-4"></div>
       <div style=" width: 25%; height: 200px; margin-top: 8%; float: left; margin-right: 120px;"><img style="width: 100%; height: 150px; " src="../../../../assets/Image/pngwing.com (1).png" alt="courses-4"></div>
    </div>
    
</div>

