
<div class="container" style="margin:50px; padding:20px" >
    <table class="table table-striped table-inverse table-responsive">
        <thead class="thead-dark">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">CourseType</th>
            <th scope="col">Fees</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let c of coursedetail">
            <td>{{c.id}}</td>
            <td>{{c.name}}</td>
            <td>{{c.description}}</td>
            <td>{{c.courseType}}</td>
            <td>{{c.fees}}</td>
            <td>
                <button type="button" class="btn btn-outline-danger ">Delete</button>
            </td>
            <td>
                <button type="button" class="btn btn-outline-danger " (click)="loaddata()">Modify</button>
            </td>
            <td>
                <button type="button" class="btn btn-outline-warning" (click)="Ondelete(c.id)" >Delete</button>
            </td>
        </tbody>
      </table>   
</div>
<button class="btn btn-primary" (click)="addview()" style="margin-left: auto;">Add Course</button>
<button type="button" class="btn btn-outline-danger " (click)="loaddata()">Modify</button>

<div *ngIf="view  modifyview" class="container">
    <form [formGroup]="form" #f="ngForm" (ngSubmit)="Onclick(f.value)">
        <h3 class="text-center">Add Course</h3><br><br>
        <div class="fg">
            <label for="name" class="form-label" >Name</label>
            <input formControlName="name" type="text" class="form-control" id="name"  name="name">
        </div>
        <div class="fg">
            <label for="phoneNumber" class="form-label" >Description</label>
            <input formControlName="phoneNumber" type="text" class="form-control" id="phoneNumber"  name="phoneNumber">
        </div>
        <div class="fg">
            <label for="whatsappNumber" class="form-label" >CourseType</label>
            <input formControlName="whatsappNumber" type="text" class="form-control" id="whatsappNumber"  name="whatsappNumber">
        </div>
        <div class="fg">
            <label for="college" class="form-label" >Fees</label>
            <input formControlName="college" type="text" class="form-control" id="college"  name="college">
        </div>
      
        <br>
        <div>
            <button class="btn btn-primary" type="submit"(click)="Onclick(f.value)" >Add</button><br>

        </div>
    </form>
   </div>

   <div *ngIf="modifyview  view" class="container">
    <form [formGroup]="form" #f="ngForm" >
        <h3 class="text-center">Modify Course</h3><br><br>
        <div class="fg">
            <input formControlName="id" type="hidden" class="form-control" id="id"  name="id" value="{{cdetail.id}}">
            <label for="name" class="form-label" >Name</label>
            <input formControlName="name" type="text" class="form-control" id="name"  name="name" value="{{cdetail.name}}">
        </div>
        <div class="fg">
            <label for="description" class="form-label" >Description</label>
            <input formControlName="description" type="text" class="form-control" id="description"  name="description" value="{{cdetail.description}}">
        </div>
        <div class="fg">
            <label for="courseType" class="form-label" >CourseType</label>
            <input formControlName="courseType" type="text" class="form-control" id="courseType"  name="courseType" value="{{cdetail.courseType}}">
        </div>
        <div class="fg">
            <label for="fees" class="form-label" >Fees</label>
            <input formControlName="fees" type="text" class="form-control" id="fees"  name="fees" value="{{cdetail.fees}}">
        </div>
      
        <br>
        <div>
            <button class="btn btn-primary" type="submit"(click)="OnModify(f.value)" >Add</button><br>

        </div>
    </form>
   </div>
