<section class="main">
    <br>
    <h1 class="text-center mb-5">ABOUT US</h1>
    <br>
    <section class="about container">
    
        <div class="ssce">
            <div class="box">
                <h2 class="text-center">flexible & quality solutions
                    to get into IT field..
                </h2>
                <br>
                <p>
                    The teaching philosophy deployed strives to create in-depth knowledge about the subject in hand. We believe that depth is essential to achieve heights in software development. Students from SavitaSoft have proved the point by their work in industry worldwide. The key to our students' success comes from out small classes and flexible schedules, giving students the options and time necessary to learn.
                    SavitaSoft tries to provide a bigger picture to their students, the etiquette, and the way of thinking which goes beyond normal technical jargon. With explosion of information on all the software fronts it is really becoming difficult for students and professionals to prioritize subjects to learn and manage time. We believe that long term technical goals can be achieved not by concentrating on products but on the core technologies. 
                    So, if you've been looking for the best place ro learn, you can now stop! SavitaSoft is the place for you!
                </p>
            </div>
            
            
        </div>
        <br>
    </section>
    
    <br>
    <br>
    
    
    <section class="about container">
        
        <div class="ab">
            <div class="box">
               <h2>OUR MISSION</h2>
               <br>
               <p>
                  SavitaSoft is a computer training institute engaged in the business of providing in-depth training for all types of applications and softwares used in the real world job environment. SavitaSoft caters to all individuals ranging from beginner level computer users to IT professionals. SavitaSoft students are prepared to take on the challenges they will face in today's job market. We endeavor to make our students employable in the field of IT as office managers, and web masters. Our desire is to create value, earn trust, deliver results, exceed expectations and empower people.
               </p>
            </div>
            
        </div>
        <br>
    
        <div class="abcd">
            <div class="box">
                <img src="../../assets/6663.jpg">
            </div>
            
            
        </div>
        <br>
    </section>
    
    <br>
    <br>
    
    <section class="about container">
        
        <div class="ab">
            <div class="box">
                <img src="../../assets/7566.jpg">
            </div>
            
        </div>
        <br>
    
        <div class="abcd">
            <div class="box">
                <h2>HANDS-ON APPROACH</h2>
                <br>
                <p>
                    At SavitaSoft we realize that not all students learn at the same pace in a classroom of more than thirty students, because every student learns at his own pace. That's why SavitaSoft utilizes a hands-on approach in all of our class. Our student-instructor relationships ensure that no student's time is wasted. Each student has ample opportunity within the class to get one-on-one instruction and review for any topics covered in the course.  
                </p>
            </div>
            
            
        </div>
        <br>
    </section>
    
    <br>
    <br>
</section>


