<section class="main">
  <div class="pic">
    <img src="../../assets/logosignin.jpg">
  </div> 

    <div class="login col-lg-4 m-auto ">
      <h4>Welcome!</h4><br>
      <h2>Sign in to your account</h2><br>
        <form [formGroup]="form" #f="ngForm" (ngSubmit)="onSave(f.value)">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label" >Email address</label>
            <input formControlName="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email">
            <div *ngIf="(form.get('email').touched || form.get('email').dirty) && form.get('email').invalid" >
             <div class="alert alert-danger" *ngIf="form.get('email').errors?.['required']"> Email is required.</div>
             <div class="alert alert-danger" *ngIf="form.get('email').errors?.['email']">Enter valid email-Id.</div>
            </div>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label" >Password</label>
            <input  formControlName="password" type="password" class="form-control" id="exampleInputPassword1" name="password">
            <div *ngIf="form.get('password').touched && form.get('password').invalid">
                <div class="alert alert-danger" *ngIf="form.get('password').errors?.['required']">Password is required.</div>
                <div class="alert alert-danger" *ngIf="form.get('password').errors?.['minLength']">Password must be atleast 8 characters.</div>
              </div>
            </div>
          
          <a class="text-center form-text text-muted nav-link" routerLink="signup">
           <small> Don't have an account?Sign up.</small>
          </a>
            <br>
            <br>
            <button type="submit" class="btn btn-warning col-lg-12" [disabled]="form.invalid">Sign in</button>
          </form>
        </div>
</section>