<div *ngIf="otpview" class="container">
<form  #f="ngForm">
  <div  style="margin-top: 70px; text-align: center; " >
    <h1>OTP</h1>
    <p>Enter 6 Digit Verification Code.</p>

   <div class="userInput">
     <input  type="text1" 
              id='ist' 
              [(ngModel)] ="otp.txt1"  (blur)="onMaskBlur()"
              pattern="[0-9]*"
              maxlength="1" 
              name="txt1"
              #d1
              (keyup)="onkeyup1(d2)"
              (keyup.backspace)="onkeyup1(d1)"
              required
              >
      <input type="text1" 
              id="sec"
              [(ngModel)] ="otp.txt2"  (blur)="onMaskBlur()"
              pattern="[0-9]*"
              maxlength="1" 
              name="txt1"
              #d2
              (keyup)="onkeyup1(d3)"
              (keyup.backspace)="onkeyup1(d1)"
              required
              >
      <input type="text1" 
              id="third" 
              [(ngModel)] ="otp.txt3"  (blur)="onMaskBlur()"
              pattern="[0-9]*"
              maxlength="1" 
              name="txt1"
              #d3
              (keyup)="onkeyup1(d4)"
              (keyup.backspace)="onkeyup1(d2)"
              required
              >
      <input type="text1" 
              id="fourth"
              [(ngModel)] ="otp.txt4"  (blur)="onMaskBlur()" 
              pattern="[0-9]*"
              maxlength="1" 
              name="txt1"
              #d4
              (keyup)="onkeyup1(d5)"
              (keyup.backspace)="onkeyup1(d3)"
              required
              >
      <input type="text5" 
              id="fifth" 
              [(ngModel)] ="otp.txt5"  (blur)="onMaskBlur()"
              pattern="[0-9]*"
              maxlength="1"
              name="txt1"
              #d5 
              (keyup)="onkeyup1(d6)"
              (keyup.backspace)="onkeyup1(d4)"
              required
              >
      <input type="text6" 
              id="sixth" 
              [(ngModel)] ="otp.txt6"  (blur)="onMaskBlur()"
              pattern="[0-9]*"
              maxlength="1"
              name="txt1"
              (keyup.backspace)="onkeyup1(d5)"
              required
              #d6
      >
  
  </div>
    <p> <a #1 class="link" type="button" (click)="onClick2()">Resend OTP?</a></p>    
    <button #bt  type="submit" class="Button1" (click)="onClick()" >Verify OTP </button>
  </div>
</form>

</div>


<!-- <div class="containerfluid" style="background-image: url('../../../assets/images/bg5.jpg');background-repeat: no-repeat;background-position-y:top;"> -->

  <div *ngIf="registerview" class="container" style="margin-top: 70px;width: 1300px;padding-left: 300px;" >
    <form [formGroup]="form" #f="ngForm" >
        <h3 class="text-center">Registration form</h3><br><br>
        <div class="fg">
            <label for="name" class="form-label" >Name</label>
            <input  required maxlength="50" minlength="10" pattern="[A-Z,a-z]+" type="text" class="form-control" id="name"  name="name" value="{{registerform.name}}">
            <!-- <div class="alert alert-danger" *ngIf="RegisterName.invalid && RegisterName.touched"> -->
                <!-- <div *ngIf="RegisterName.errors!['required']"><strong>RegisterName Is Required</strong></div> 
                <div *ngIf="RegisterName.errors!['minlength']">Name Should Be Min 10 Alphabets</div>
                <div *ngIf="RegisterName.errors!['pattern']">Name Should Contain Alphabets</div> -->
        <!-- </div> -->
        </div>
        <div class="fg">
            <label for="phoneNumber" class="form-label" >Phone Number</label>
            <input  required minlength="10" maxlength="10" pattern="[0-9]*"  type="text" class="form-control" id="phoneNumber"  name="phoneNumber" value="{{registerform.phoneNumber}}">
            <!-- <div class="alert alert-danger" *ngIf="Mobile.invalid && Mobile.touched"> -->
                <!-- <div *ngIf="Mobile.errors!['required']"><strong>Number Is Required</strong> </div>
                <div *ngIf="Mobile.errors!['minlength']">Mobile Number Should Be Min 4 Digits</div>
                <div *ngIf="Mobile.errors!['pattern']">Mobile Number Should Have Only Digits</div>
                <div *ngIf="Mobile.errors!['maxlength']">Not More Than 10 Digits</div> -->
        <!-- </div> -->
        </div>
        <div class="fg">
            <label for="whatsappNumber" class="form-label" >WhatsApp Number</label>
            <input  required minlength="10" maxlength="10" pattern="[0-9]*" type="text" class="form-control" id="whatsappNumber"  name="whatsappNumber" value="{{registerform.whatsappNumber}}">
            <!-- <div class="alert alert-danger" *ngIf="Whatsapp.invalid && Whatsapp.touched"></div>
            <div *ngIf="Whatsapp.errors!['required']"><strong>Number Is Required</strong> </div>
            <div *ngIf="Whatsapp.errors!['minlength']">Mobile Number Should Be Min 4 Digits</div>
            <div *ngIf="Whatsapp.errors!['pattern']">Mobile Number Should Have Only Digits</div> -->
        </div>
        <div class="fg">
            <label for="college" class="form-label" >College</label>
            <input  type="text" class="form-control" id="college"  name="college" value="{{registerform.college}}">
        </div>
        <div class="fg">
            <label for="branch" class="form-label" >Branch</label>
            <input  type="text" class="form-control" id="branch"  name="branch" value="{{registerform.branch}}">
        </div>
        <div class="fg">
            <label for="semester" class="form-label" >Semester</label>
            <input  type="text" class="form-control" id="semester"  name="semester" value="{{registerform.semester}}">
        </div>
        <div class="fg">
            <label for="address" class="form-label" >Address</label>
            <input  type="text" class="form-control" id="address"  name="address" value="{{registerform.address}}">
            <!-- <textarea input type="text"  name="address" id="address" cols="85" required></textarea> -->
        </div>
        <div class="fg">
            <label for="email" class="form-label" >Email</label>
            <input  type="text" class="form-control" id="email"  name="email" value="{{registerform.email}}">
        </div>
        <div class="fg">
            <label for="parentNumber" class="form-label" >Parent Number</label>
            <input  required minlength="10" maxlength="10" pattern="[0-9]*" type="text" class="form-control" id="parentNumber"  name="parentNumber" value="{{registerform.parentNumber}}">
            <!-- <div class="alert alert-danger" *ngIf="ParentNumber.invalid && ParentNumber.touched"></div>
            <div *ngIf="ParentNumber.errors!['required']"><strong>Number Is Required</strong> </div>
            <div *ngIf="ParentNumber.errors!['minlength']">Mobile Number Should Be Min 4 Digits</div>
            <div *ngIf="ParentNumber.errors!['pattern']">Mobile Number Should Have Only Digits</div> -->
        </div>
        <div formGroupName="courses">
            <select formControlName="id" name="id" id="id" class="form-control">
                <option>Courses</option>
                <option *ngFor="let b of notstudent" value="{{b.id}}">{{b.name}}</option>
            </select>
        </div>
        <br>
        <div>
            <button class="btn btn-primary" type="submit" (click)="postdata(f.value)">Submit</button><br>

        </div>
    </form>
</div>