* {box-sizing: border-box}

/* Add padding to containers */
.container {
  padding:20px;
  padding-left: 100px;
  padding-right: 100px;
  border-top-style: outset;
  border-bottom-style: outset;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.registerbtn {
  background-color: #000000;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 20%;
  opacity: 0.9;
  border-radius: 20px;

}

.registerbtn:hover {
  opacity:1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}
.alert {
  padding: 20px;
  background-color: #ee2213d6;
  color: white;
  border-radius: 15px 15px 15px 15px;
  
}



@import "~@ng-select/ng-select/themes/default.theme.css";


* {box-sizing: border-box}

/* Add padding to containers */
.container {
  padding:20px;
  padding-left: 100px;
  padding-right: 100px;


}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.Button1 {
  background-color: rgb(88, 88, 241);
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 20%;
  opacity: 0.9;
  border-radius: 20px;
  font-size: 0.8rem;

}

.Button1:hover {
  opacity:10;
}


a {
  color: dodgerblue;
}


input {
    margin: 10px;
    height: 35px;
    width: 65px;
    border: none;
    border-radius: 5px;
    text-align: center;
    font-family: arimo;
    font-size: 1.2rem;
    background: #dddddfe6;
  }
  
  .userInput {
    display: flex;
    justify-content: center;
  }

  