
<section class="main">
    <br>
    <h2 class="text-center">Find us here!</h2>
    <section class="sec">
        <div class="pic">
            <iframe src="https://www.google.com/maps/embed?pb=!4v1675165282171!6m8!1m7!1sFgONe-sVyKdYnViN3SmHUw!2m2!1d15.366649339386!2d75.12124463366519!3f339.45505!4f0!5f0.7820865974627469" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3847.1802275646787!2d75.11904721484954!3d15.366722589318245!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bb8d732f117950f%3A0x17db063c5e1b7d41!2sSavitaSoft%20Computer%20Education!5e0!3m2!1sen!2sin!4v1675163954759!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    
    </section>
</section>
