
<!-- About Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
                <div class="position-relative h-100">
                    <img class="img-fluid position-absolute w-100 h-100" src="../../../assets/img/about.jpg" alt="" style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                <h6 class="section-title bg-white text-start text-primary pe-3">About Us</h6>
                <h1 class="mb-4">Welcome to SavitaSoft Computer Education</h1>
                <p class="mb-4">SavitaSoft is an institute dedicated to teaching Core Computer Technologies to students and professionals. Established in the year 1995, the institute has had the opportunity of teaching thousands of students and professional.</p>
                <p class="mb-4">The teaching philosophy deployed, strives to create in-depth knowledge about the subject at hand. We believe that depth is essential ingredient to achieve heights in software development. Students from SavitaSoft have proved the point by their work in industry worldwide. The key to our students success comes from our small classes and flexible schedules, giving students the options and time necessary to learn.</p>
                <div class="row gy-2 gx-4 mb-4">
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Experienced faculty</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Industry-Relevant Curriculum</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Internship projects</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Skilled Instructors</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Online Classes</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>International Certifications</p>
                    </div>
                </div>
                <a class="btn btn-primary py-3 px-5 mt-2" routerLink="/about">Read More</a>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
