

<section class="course">
    <div class="container">
        <h1 class="text-center">
            COURSES OFFERED
        </h1><br>
        <h2>SHORT TERM COURSES</h2>
        <br>


        <div class="offc">  
            <div class="offc2" *ngFor="let cs of course">
                <div class="box"  (ngSubmit)="onClick(cs.id)" >
                    <img src="{{cs.image}}"><br>
                    <h4 class="mt-2">{{cs.name}}</h4>
                    <p class="mt-2">{{cs.description}}</p>
                    <button type="submit" class="btn btn-success btn-lg mt-2">Register Now</button>
                </div>
                <br>
            </div>
        </div>
        <br>
        <br>

        <h2>LONG TERM COURSES</h2>
        <br>
        <div class="offc">  
            <div class="offc2" *ngFor="let cs of course2">
                <div class="box"(ngSubmit)="onClick(cs.id)">
                    <img src="{{cs.image}}"><br>
                    <h4 class="mt-2">{{cs.name}}</h4>
                    <p class="mt-2">{{cs.description}}</p>
                    <button type="submit" class="btn btn-success btn-lg mt-2">Register Now</button>
                </div>
                <br>
            </div>
        </div>
    </div>
</section>
